$color-primary: #f5eb62;
$color-secondary: #46344e;
$color-secondary-dark: darken($color-secondary, 10%);
$color-off-secondary: #5a5560;
$color-dark: #000;
$color-light: #fff;
$color-off-dark: lighten(#000, 30%);
$color-off-light: darken(#fff, 10%);
