@keyframes focus {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.015);
    }
}
input {
    $ani-speed: 0.2s;
    all: unset;
    padding: 1em;
    border: 2px solid var(--color-light);
    border-radius: 10px;
    transition: all $ani-speed ease;
    &:focus {
        background-color: var(--color-dark);
        border-color: var(--color-primary);
    }
}
