.bingo-card {
    $bingo-border-color: $color-secondary;
    display: inline-grid;
    border: 2px solid $bingo-border-color;
    .bingo-row {
        display: inline-flex;
        width: auto;
        &:not(:last-child) {
            border-bottom: 2px solid $bingo-border-color;
        }

        .bingo-cell {
            $cell-size: 20em;
            --cell-size: #{$cell-size};
            width: $cell-size;
            height: $cell-size;
            background-color: $color-primary;
            color: $color-light;
            &:not(:last-child) {
                border-right: 2px solid $bingo-border-color;
            }
        }
    }
}
